html,body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;

}

h1 {
	font-family: 'trademark';
	text-align: center;
	font-size:44px;
}

#joy, #sadness, #fear, #anger, #disgust {
	display: none;
}

#joy h1, #sadness h1, #fear h1, #anger h1, #disgust h1, #joy.active h1, #sadness.active h1, #fear.active h1, #anger.active h1, #disgust.active h1 {
	opacity: 0;
}

#home {
	width: 100vw;
	height: 100vh;
	background: #fff; /* Old browsers */
	/*background: -moz-radial-gradient(center, ellipse cover, #fff 0%, #000 100%);*/ /* FF3.6-15 */
	/*background: -webkit-radial-gradient(center, ellipse cover, #fff 0%,#000 100%);*/ /* Chrome10-25,Safari5.1-6 */
	/*background: radial-gradient(ellipse at center, #fff 0%,#000 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-transition: background 2s ;
    -moz-transition: background 2s ;
    -ms-transition: background 2s ;
    -o-transition: background 2s ;
    transition: background 2s ;
    display: flex;
    align-content:center;
    flex-direction:column;
    justify-content:center;
/*	background-color: cadetblue;*/
}

section#home {
	background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(left, #eeeeee 0%, #cccccc 10%, #1ad826 30%, #08aa13 40%, #ffde4c 45%, #fbbc16 55%, #c90e11 60%, #e02222 70%, #3a77a8 75%, #211a55 85%, #9a10e5 90%, #600893 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #eeeeee 0%,#cccccc 10%,#1ad826 30%,#08aa13 40%,#ffde4c 45%,#fbbc16 55%,#c90e11 60%,#e02222 70%,#3a77a8 75%,#211a55 85%,#9a10e5 90%,#600893 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #eeeeee 0%,#cccccc 10%,#1ad826 30%,#08aa13 40%,#ffde4c 45%,#fbbc16 55%,#c90e11 60%,#e02222 70%,#3a77a8 75%,#211a55 85%,#9a10e5 90%,#600893 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#600893',GradientType=1 );
	background-size: 1600% 1600%;
	background-position: 0% 0%;
}

.buttons {
	display: flex;
	align-content:center;
	justify-content:center;
	padding-bottom: 100px;
}

.header-text {
	padding-bottom: 100px;
	position: relative;
	top: 0;
}

.header-text h1, .header-text h2{
	color: #0a0661;
	margin: 0;
	padding: 0;
	text-align: center;
}

.header-text h1 {
	margin-bottom: -24px;
}

.header-text h2 {
	font-family: 'open sans';
	font-weight: bold;
	font-size: 60px;
}

#joy.active, #fear.active, #disgust.active, #anger.active, #sadness.active {
	display: flex;
	justify-content:center;
	align-content:center;
}

#buttons.active {
	padding:0;
}